---
import NextJS from "./icons/NextJS.astro";
import VueJS from "./icons/Vue.astro";
import Tailwind from "./icons/Tailwind.astro";
import Laravel from "./icons/Laravel.astro";
import Wordpres from "./icons/Wordpres.astro";
import AstroIcon from "./icons/AstroIcon.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-black text-white",
    icon: Laravel,
  },
  VUE: {
    name: "Vue.js",
    class: "bg-black text-white",
    icon: VueJS,
  },
  REACT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-black text-white",
    icon: Wordpres,
  }
};
const PROJECTS = [
  {
    title: "Aruba WEB",
    description:
      "Reserva servicios de belleza y bienestar a domicilio o en salones cercanos. Encuentra profesionales confiables y disfruta de tratamientos de calidad sin complicaciones..",
    link: "https://getaruba.com/",
    image: "/projects/aruba.webp",
    tags: [TAGS.LARAVEL, TAGS.VUE, TAGS.TAILWIND],
  },
  {
    title: "Sitio Web de Qmbia Base",
    description:
      "Una landing page diseñada y desarrollada para un grupo de cumbia villera de Paraguay, utilizando las tecnologías Astro y Tailwind CSS. Integra los elementos visuales y estructura intuitiva, además de una optima velocidad de carga...",
    link: "https://qmbiabase.com/",
    image: "/projects/qmbiabase.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Blog IDESA",
    description:
      "Una landing page diseñada y desarrollada para un grupo de cumbia villera de Paraguay, utilizando las tecnologías Astro y Tailwind CSS. Integra los elementos visuales y estructura intuitiva, además de una optima velocidad de carga...",
    link: "https://idesa.com.py/blog",
    image: "/projects/idesa.webp",
    tags: [TAGS.WORDPRESS],
  },
  {
    title: "Bea Insumos",
    description:
      "Una landing page diseñada y desarrollada para un grupo de cumbia villera de Paraguay, utilizando las tecnologías Astro y Tailwind CSS. Integra los elementos visuales y estructura intuitiva, además de una optima velocidad de carga...",
    link: "https://beainsumos.uy",
    image: "/projects/bea.webp",
    tags: [TAGS.LARAVEL, TAGS.TAILWIND],
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {
    PROJECTS.map(({ image, title, description, link, tags }) => (
      <a href={link} target="_blank">
        <article>
          <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
            {title}
          </h3>
          {/* <p class="text-lg mb-4 text-pretty">{description}</p> */}
          <ul class="flex gap-x-2 flex-row mb-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1.5 px-2.5 border border-white/10 hover:scale-110 transition cursor-pointer`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <img
            loading="lazy"
            class="my-2 mb-8 rounded-lg shadow-2xl shadow-white/10 aspect-video cursor-pointer hover:scale-105 transition"
            src={image}
            alt={`Captura de pantalla del proyecto ${image}`}
          />
        </article>
        {/* <hr class="mb-4 border-1 border-gray-800" /> */}
      </a>
    ))
  }
</div>
