---
import { PROJECTS } from "./data/projects";
---

<script src="../scripts/enlace"></script>

<div
  class="grid grid-cols-1 md:grid-cols-3  2xl:grid-cols-4 gap-4"
  id="projects"
>
  {
    PROJECTS.map(({ image, title, description, link, tags }) => (
      <div class="project-card py-4 px-3">
        <a
          href={link && link !== "#" ? link : "javascript:void(0)"}
          target={link && link !== "#" ? "_blank" : "_self"}
        >
          <article>
            <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
              {title}
            </h3>
            <ul class="flex gap-x-2 flex-row mb-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1.5 px-2.5 border border-white/10 hover:scale-110 transition cursor-pointer`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <img
              loading="lazy"
              class=" my-2 rounded-lg shadow-2xl shadow-white/10 aspect-video cursor-pointer hover:scale-105 transition"
              src={image}
              alt={`Captura de pantalla del proyecto ${image}`}
            />
            <p class="text-sm mb-4 text-pretty">{description}</p>
          </article>
          {/* <hr class="mb-4 border-1 border-gray-800" /> */}
        </a>
      </div>
    ))
  }
</div>
