---
type Props = {
  class?: string;
  id?: string;
  fullpage?: boolean;
  verticalCenter?: boolean;
  container?: boolean;
  noPadding?: boolean;
};

const {
  class: className="",
  id,
  fullpage,
  verticalCenter,
  container: isContainer,
  noPadding
}: Props = Astro.props;

const styles = {
  fullpage: fullpage ? "min-h-screen py-5 fullpage" : "",
  verticalCenter: verticalCenter ? "flex items-center justify-center" : "",
  container: isContainer ? "lg:max-w-[1500px] lg:px-10" : "lg:max-w-[740px]",
};
---

<section
  id={id}
  data-section={id}
  class={`section relative w-full mx-auto ${styles.container} ${noPadding ? "" : "pb-24"} ${styles.fullpage} ${styles.verticalCenter} ${className}`}
>
  <slot />
</section>
